body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px;
}

.caja {
    width: 948px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    font-size: 2em;
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    /*font-size: 22px;*/
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/*Main*/
main {
    background: linear-gradient(#FFFFFF, #FEFEFE, #888888, gray);
}

/*Pie de página*/
footer {
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

form {
    margin: 40px 20px;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover {
    background: darkgoldenrod;
    transform: scale(1.1)
        /*rotate(360deg)*/
    ;
    /*transition: 1s;*/
}

table {
    margin: 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 5px;
}

@media screen and (max-width:480px) {
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav li {
        font-size: 1em;
    }

    .caja{
        width: auto;
    }

}